<div class="navbar">
    <a href="/">Home</a>
    <a href="/appointment">Create Appointment</a>
    <!-- <a href="/g2test">View Appointment</a> -->
    <a href="/adash">Dashboard</a>
    <a href="/login">Log Out</a>
</div>