<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <%- include('layouts/dashnav'); -%>
    <div class="main">
            <h2>Welcome Back!</h2>
            <p>Book your G/G2 Test from here.</p>
            <a href="/gtest"><button type="button" class="button button1">G Test</button></a>
            <a href="/g2test"><button type="button" class="button button2">G2 Test</button></a>            
    </div>
</body>
</html>