<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <div class="header">
        <h1>G2 Test</h1>
    </div>
    <%- include('layouts/dashnav'); -%>
    <div class="main">
      <h2>G2 Test</h2>
      <p>Enter your details below to register</p>
      <div class="form_con">
        <form id="g2Form" action="/api/additional-details/:username" method="post">
          <!-- Existing fields -->
          <fieldset>
            <legend>Personal Information</legend>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname"><br><br>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname"><br><br>
            <label for="age">Age</label>
            <input type="number" id="age" name="Age"><br><br>
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob"><br><br>
            <label for="lnum">License Number</label>
            <input type="text" id="lnum" name="License No">
          </fieldset>
          <!-- Additional fields for g2page -->
          <fieldset>
            <legend>Car Information</legend>
            <label for="cname">Make</label>
            <input type="text" id="cname" name="car_details.make"><br><br>
            <label for="mname">Model</label>
            <input type="text" id="mname" name="car_details.model"><br><br>
            <label for="year">Year</label>
            <input type="number" id="year" name="car_details.year"><br><br>
            <label for="pnum">Plate Number</label>
            <input type="text" id="pnum" name="car_details.platno">
          </fieldset>
          <input type="button" id="submit" value="Submit" onclick="submitForm()">
        </form>
      </div>
    </div>
    <script>
      
    </script>
  </body>
</html>
