<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
</head>
<body>
    <div class="header">
        <h1>G Test</h1>
    </div>
    <%- include('layouts/dashnav'); -%>
    <main class="main">
            <h2>G Test</h2>
            <p>Enter your license number to get your details</p>
            <form action="" method="get">
                <label for="lnumber">License Number</label>
                <input type="text" id="lnum"><br><br>
                <input type="button" value="Search" id="search">   
            </form>
            <div id="result"></div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    
</script>
</html>