<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<body>
    <%- include('layouts/mainnav'); -%>
    <div class="main">
            <h2>Welcome!</h2>
            <p>Ready to get started on your driving test! Click the buttons below!</p>
            <a href="/login"><button type="button" class="button button2">Log In</button></a>
            <a href="/signup"><button type="button" class="button button1" >Sign Up</button></a>            
    </div>
</body>
</html>