<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<body>
    <%- include('layouts/mainnav'); -%>
    <div class="main">
        <h2>Welcome Back!</h2>
        <p>Log in to get started on your driving test!</p>
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="uname"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="upass"><br><br>
            <button type="submit" class="button button2">Log In</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
