<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<body>
    <%- include('layouts/mainnav'); -%>
    <div class="main">
            <h2>Welcome Back!</h2>
            <p>Log in to get started on your driving test!</p>
            <form action="" method="get">
                <label for="username">Username</label>
                <input type="text" id="uname"><br><br>
                <label for="password">Password</label>
                <input type="password" id="upass">
            </form>
            <a href="/ddash"><button type="button" class="button button2">Log In</button></a>           
    </div>
</body>
</html>