<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<body>
    <%- include('layouts/mainnav'); -%>
    <div class="main">
            <h2>Hello!</h2>
            <p>Register a new account!</p>
            <form id="signupForm" action="/signup" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required><br><br>
                <label for="repeatPassword">Repeat Password:</label>
                <input type="password" name="repeatPassword" id="repeatPassword" required><br><br>
                <label for="userType">User Type:</label>
                <select name="userType" id="userType" required>
                    <option value="Driver">Driver</option>
                    <option value="Examiner">Examiner</option>
                    <option value="Admin">Admin</option>
                </select><br><br>
                <button type="submit" class="button button2">Sign Up</button>
            </form>              
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      function submitForm() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var repeatPassword = document.getElementById('repeatPassword').value;
        var userType = document.getElementById('userType').value;

        if (password !== repeatPassword) {
          alert('Passwords do not match.');
          return false;
        }

        document.getElementById('signupForm').submit();
      }
    </script>
</body>
</html>